.Block{
  width: 400px;
  height: 400px;
  position: relative;
  border: 1px solid black;
  background-color: gray;
}
.Exit-Button{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0px;
  opacity: 0.3;
  cursor: pointer;
  color: white;
  .text{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
  
  svg{
    transform: scale(0.4);
  }
}
.Exit-Button:hover{
  background-color: red;
  opacity: 1;
}